<section>
    <div> 
    
    <img src="https://alpha.aeon.co/images/2ea422ae-af23-493e-83f9-7d7db411112d/header_essay-test-gettyimages-540818994.jpg" alt="About Us" class="about-image">
    </div>
    <div class="about-description">
      <h1>About Us</h1>
      <!-- <h2>{{message}}</h2> -->
      <input type="text" class="form-control" [(ngModel)]="message" >
    <p *ngIf="kintiaWillText; else noServer">The status of the server is {{message}}</p>
    <ng-template #noServer>
      <p>Hooray, No server was created  </p>
    </ng-template>
      <div>
        <button class="btn btn-primary" (click)="onSendMessage()">Send me a DM</button>
      
      </div>

      <p>Welcome to my website! My name is {{fName}} and I'm {{age}} We are a dedicated team committed to providing the best services and products for our customers. With years of experience and a passion for what we do, we strive to exceed expectations and deliver excellence.</p>
      <p>Our mission is to create innovative solutions that meet your needs and enhance your experience. We value transparency, integrity, and customer satisfaction above all else. By focusing on these core principles, we aim to build long-lasting relationships with our clients.</p>
      <p>Whether you are looking for professional advice, high-quality products, or reliable services, we are here to help. Our team of experts is always ready to assist you and provide personalized solutions tailored to your specific requirements.</p>
      <p>Thank you for visiting our website. We look forward to serving you and being a part of your success story.</p>
    </div>

  </section>
  <section>
    <!-- <button class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button>   -->
    
    <button class="btn btn-primary" (click)="toggleDisplay()">Display Details</button>
    
     <p *ngIf="showSecret">This is a test paragraph </p>
<!-- 
     <div *ngFor="let logItem of log" [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
      [ngStyle]="{'white-text': logItem >= 5}"
      >{{logItem}}</div> -->


      
     <div *ngFor="let logItem of log; let i = index" [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
      [ngStyle]="{'white-text': logItem >= 5}"
      >{{logItem}}</div>
    
  </section> 